.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.bottom-line {
  align-self: center;  
  width: 50px;
  height: 1px;
  background: $main-color;
}

.navbar {
  padding-bottom: 15px;
  background: rgba(36, 45, 65, 0.658);
  transition: all .5s;
  box-shadow: 0px 8px 11px -3px rgba(0,0,0,0.75);
}

.nav-active {
  &:before {
    transform: rotate(45deg);
    top: 9px !important;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 9px !important;
  }

  span {
    transform: scale(0);
  }
}

.lock {
  overflow: hidden;
}

// Button
.btn {
  position: relative;
  padding: 8px 14px;
  border: 1px solid $main-color;
  border-radius: 3px;
  text-decoration: none;
  color: $main-color;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  transition: all .7s;
  overflow: hidden;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $secondary-color;
    overflow: hidden;
    transform: scale(4) translateX(-75%) translateY(-75%) rotate(-45deg);
    transition: all .7s;
    z-index: -1;
  }

  &:hover {
    color: #f4f4f4;
    cursor: pointer;
    border: 1px solid $secondary-color;

    &:before {
      transform: scale(4) translateX(0) translateY(0) rotate(-45deg);
      width: 100%;
    }
  }

}

.dot-active {
  background: $main-color;
}

.img-active {
  width: 70px !important;
  height: 70px !important;
}

.logo-img {
  width: 44px;
  height: 50px;
  margin-right: 11px;
}

.special-img {
  object-position: top left !important;
}

.mt {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 1.5rem;
  }
  &-3 {
    margin-top: 3rem;
  }
}
